<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GreenKart Automation Suite" verbose="1">
    <test name="All Tests">
        <classes>
            <class name="tests.SearchProductTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.AddMultipleProductsTest"/>
            <class name="tests.PlaceOrderTest"/>
            <class name="tests.NavigationTest"/>
        </classes>
    </test>
</suite>
